body {
    background-image: url("../img/spacebackground.jpg");
    width: 1024px;
    margin: 0 auto;
}

/* CSS IMAGENS */

#plutao {
    width: 300px;
    height: 300px;
}

.imgplanet #lua {
    width: 40px;
    height: 40px;
}

p {
    color: white;
    text-align: justify;
}

h2 {
    color: white;
}

.planetaTag {
    float: left;
}

.planetaTagD {
    float: right;
}