body {
    background-image: url("../img/spacebackground.jpg");
    width: 1560px;
}

/* ALINHAMENTO */

.planetaTag {
    float: left;
}

.planetaTagD {
    float: right;
}

p {
    color: #bdc3c7;
    text-align: justify;
}

h2, h3 {
    text-align: center;
    color: #000000;
}

.tituloplaneta {
    color: #95a5a6;
    font-size: 40px;
    text-shadow: rgba(255, 255, 255, .5);
}